**/.port_coordination
**/alluxio-site.properties
**/nb-configuration*.xml
**/nbproject/
*.iml
*.pyc
*.swo
*.swp
*~
.DS_STORE
.DS_Store
.checkstyle
.classpath
.fbExcludeFilterFile
.idea/
.metadata/
.port_coordination/
.project
.settings/
/lib/*.jar
/logs/*.log*
/logs/*.out*
/logs/user/*
\#*#
target/
